.productManagerContainer {
  width: 100vw;
  margin: 5vh 0;
}

.header {
  width: 90%;
  margin: 0 auto;
  border: 1px solid var(--grey-light);
  border-radius: 10px;
  display: flex;
  padding: 1.25% 2%;
  justify-content: space-between;
  align-items: center;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.title {
  margin: 0;
  color: var(--primary-black);
  font-size: 2rem;
}

.subtitle {
  color: var(--grey-medium);
  font-weight: 600;
}

.addButton {
  background-color: var(--primary-nexup-color);
  color: white;
  border: none;
  padding: 1rem;
  font-size: 1.25rem;
  border-radius: 10px;
  font-weight: 600;
  transition: all 0.5s;
}

.addButton:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.addButton:active {
  transform: scale(0.95);
}

.filterContainer {
  width: 90%;
  margin: 2.5% auto;
  display: flex;
  gap: 5%;
}


.searchInput {
  width: 30%;
  border-radius: 10px;
  padding: 0.75rem 1rem;
  border: 1px solid var(--grey-light);
}

.searchInput:focus {
  outline: none;
  border: 1.75px solid var(--primary-nexup-color);
}

.select {
  width: 10%;
  border: 1px solid var(--grey-light);
  padding: 0.75rem 1rem;
  background-color: white;
  border-radius: 10px;
  color: var(--primary-black);
  font-weight: 600;
}

.select:focus {
  outline: none;
  border: 1.75px solid var(--primary-nexup-color);
}

.tableContainer {
  width: 90%;
  margin: 2.5% auto;
  max-height: 50vh;
  overflow: auto;
}

.table {
  width: 100%;
}

.tableHeader th {
  background-color: var(--primary-white);
  color: var(--secondary-black);
  text-align: left;
  padding: 1rem;
}

.tableBody td {
  border-bottom: 1px solid var(--grey-light);
  padding: 1rem;
  text-align: left;
  color: var(--primary-black);
  font-weight: 600;
}
