:root {
  --grey-light: #cfcfcf;
  --primary-black: #252525;
  --grey-medium: #7d7d7d;
  --primary-nexup-color: #7a8cff;
  --primary-white: #fbfbfb;
  --secondary-black: #545454;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}
